{% extends "base.html" %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.functions-landing.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.7/fastclick.min.js"></script>
    <script src="{{ url_for('static', filename='js/auth/login.js') }}"></script>
{% endblock %}

{% block content %}

<body style="overflow: hidden;">
    <div class="landing-container">
      <div class="landing-top-bar">Private Alpha</div>
      <div class="app-name">Inspired</div>
      <h2 class="subheading">
        Shop styles from the hottest music videos
      </h2>
      <ul class="poster-slideshow">
          <li><span>Image_1</span></li>
          <li><span>Image_2</span></li>
          <li><span>Image_3</span></li>
          <li><span>Image_4</span></li>
          <li><span>Image_5</span></li>
          <li><span>Image_6</span></li>
      </ul>
    </div>

    <div data-alert class="alert-box secondary" id="intro-info" style="z-index: 999999;display:none" data-alert="">
      <h4>Private Alpha Access:</h4>
        <p>We opened limited early access to our beta version. Please keep in mind this is an unfinished product and some glitches might sliped through.</p>
        <p>Support our mission by exploring the app and sending us your suggestions!</p>
      <div class="row">
        <div class="small-12 large-5 small-centered large-centered columns">
          <input id="invite-code-form" type="text" placeholder="Invite Code">
        </div>
      </div>
      <div class="row">
        <div class="small-3 large-1 small-centered large-centered columns">
          <button class="small button" id="invite-code-button">OK</button>
        </div>
      </div>
    </div>

    <div class="row landing-container-wrapper">
      <div class="landing-button-group small-10 large-5 columns">
        <button class="landing-button" id="email-reg-btn">Manual Email Login</button>
        <button class="landing-button" id="facebook-connect-btn">Instant Facebook Connect</button>
      </div>
    </div>             

    <div class="row">
      <form id="email-login-container-form" action="#" class="email-login-container small-10 large-5 columns">
        <fieldset>
              <input id="email_address" type="email" name="email_address" placeholder="ex. joe@abc.com" required>
              <input id="password" type="password" name="password" placeholder="ex. t0pS3cRet" required>
        </fieldset>
        <button id="back-login">Back</button>
        <button id="get-inspired-button">Get Inspired</button>
      </form>
    </div>    
</body>

{% endblock %}
