        <div id="share-box" class="reveal-modal">
          <ul class="small-block-grid-4 large-block-grid-4">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Finvid.io" target="_blank"><img src="../../../../static/img/webicon-facebook.svg" type="image/svg+xml" /></a></li>
            <li><a href="https://twitter.com/share?url=http%3A%2F%2Finvid.io" target="_blank"><img src="../../../../static/img/webicon-twitter.svg" type="image/svg+xml" /></a></li>
            <li><a href="https://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin"><img src="../../../../static/img/webicon-pinterest.svg" type="image/svg+xml" /></a></li>
            <li><a href="mailto:?subject=Check this mad outfit&amp;body=I found this outift on http://www.invid.io/~~~."><img src="../../../../static/img/webicon-mail.svg" type="image/svg+xml" /></a></li>
          </ul>
          <a class="close-reveal-modal">&#215;</a>
        </div>
        <div class="row product-buttons">
          <a id="bookmark-item-btn" class="small-6 large-6 columns item-btn" href="#"></a>
          <a data-reveal-id="share-box" class="small-4 large-6 columns item-btn" href="#"></a>
        </div>

