<p style="font-size:16px;">Tell your friends about Inspired. Share your love for fashion.</p>

<div class="box share-box">
	<div class="share-btn small-3 large-3 columns"><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Finvid.io" target="_blank"><img src="../static/img/webicon-facebook.svg" type="image/svg+xml" /></a></div>
	<div class="share-btn small-3 large-3 columns"><a href="https://twitter.com/share?url=http%3A%2F%2Finvid.io" target="_blank"><img src="../static/img/webicon-twitter.svg" type="image/svg+xml" /></a></div>        
	<div class="share-btn small-3 large-3 columns"><a href="mailto:?subject=Check this mad outfit&amp;body=I found this outift on http://www.invid.io/~~~."><img src="../static/img/webicon-mail.svg" type="image/svg+xml" /></a></div>
</div>

<script type="text/javascript">
	
</script>