<form id="profile-pass-change" action="#">
  <div class="row">
    <div class="twelve columns" style="border-bottom: 1px solid #2c3b4c; padding:0;">
      <div class="row profile-group">
        <div class="profile-email-label small-5 columns">Email Address</div>
        <div class="profile-email-field small-7 columns">{{ g.user.email_address }}</div>
      </div>

      <div class="row profile-group">
        <div class="profile-pass-label small-5 columns">Password</div>
        <a class="profile-pass-field small-7 columns">Change My Password</a>
          <div class="small-7 columns password-field">
            <input type="password" id="old_password" placeholder="Old Password" required>
            <input type="password" id="new_password" placeholder="New Password" required>
            <button>Change Pasword</button>
          </div>
      </div>
    </div>
  </div>
</form>
<form id="profile-connect-facebook" action="#">
  <div class="row">
    <div class="twelve columns" style="border-bottom: 1px solid #2c3b4c; padding:0;">
      <div class="row profile-group">
        <div class="profile-facebook-label small-5 columns">Facebook</div>
        <div class="profile-facebook-field small-7 columns">
          <button>Connect Facebook</button>
          <div class="profile-facebook-details">
            Connected as: <span>'Account-Name'</span>
            <a>Disconnect</a>
          </div>
        </div>
      </div>      
    </div>
  </div>
</form>

<script type="text/javascript">
  if( 'ontouchstart' in window ){ var click = 'touchstart'; }
  else { var click = 'click'; }

  $('.profile-pass-field').on(click,function(){
    $(this).hide();
    $('.password-field').show();
  });    

  $('.profile-facebook-field button').on(click,function(){
    $(this).hide();
    $('.profile-facebook-details').show();
  }); 
</script>
{% block bottom_javascript %}
    <script type="text/javascript">
        var user_id = '{{ g.user.id }}';
        var api_url = '{{ g.api_url }}';
        var api_key = '{{ g.user.api_key }}';
    </script>
    <script src="{{ url_for('static', filename='js/user/settings/my-profile.js') }}"></script>
{% endblock %}

