  <p>Encountered an issue or you want to suggest a way to make Inspired better?
  	The best way to tell us is by sending us a message here.</p>

  <iframe class="feedback-iframe" src="https://invidio.uservoice.com/clients/widgets/classic_widget?mode=full&default_mode=feedback&link_color=2da3ca&forum_id=181769&primary_color=586b79&embed_type=lightbox&referrer=http%3A%2F%2Fwww.invid.io%2Fcontact.html" frameborder="0"></iframe>
  
  <script type="text/javascript">
	var screenHeight = $(window).height();
	$('.feedback-iframe').css('height',screenHeight-160);
  </script>