{% extends "base.html" %}
{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/foundation/foundation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.orbit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.functions.js') }}"></script>
{% endblock %}
{% block content %}
    {% include "user/settings/default.html" %}
    <div class="content">
      <div class="spinner-wrap"><div id="spinner"><img src="../static/img/spinner.gif"></div></div>
      {% include "header/index.html" %}
      <div class="main-container">
        <!-- Image Slider -->
        <div class="row">
          <div class='twelve columns featured-music-videos-container'>
            <div data-orbit class='featured-music-videos'>
              <div class="fx-container" onclick="location.reload();location.href='../templates/artists/austin-mahone/artist.html'">
                <div class="shop-btn">Shop the look</div>
                <img class="item" src="../static/img/music/featured/feat-1.png" />
                <div class="band">Taylor Swift - I knew you were trouble</div>
              </div>
              <div class="fx-container" onclick="location.reload();location.href='../templates/artists/austin-mahone/artist.html'">
                <div class="shop-btn">Shop the look</div>
                <img class="item" src="../static/img/music/featured/feat-2.png" />
                <div class="band">Demi Lovato - Give Your Heart A Break</div>
              </div>
              <div class="fx-container" onclick="location.reload();location.href='../templates/artists/austin-mahone/artist.html'">
                <div class="shop-btn">Shop the look</div>
                <img class="item" src="../static/img/music/featured/feat-3.png" />
                <div class="band">Austin Mahone - What About Love</div>
              </div>
            </div>
          </div> 
        </div> 
       <!-- Artist List -->
        <div class="row artist-list">
          <a href="javascript:;" onclick="location.reload();location.href='../templates/artists/austin-mahone/artist.html'" class="four columns artist-btn">
            <img class="artist-img" src="../static/img/music/artists/austin-mahone/cover.png" />
            <div class="artist-name">Austin Mahone</div>
          </a>    
          <a href="javascript:;" onclick="location.reload();location.href='../templates/artists/austin-mahone/artist.html'" class="four columns artist-btn">
            <img class="artist-img" src="../static/img/music/artists/avril-lavigne/cover.png" />
            <div class="artist-name">Avril Lavigne</div>
          </a>  
          <a href="javascript:;" onclick="location.reload();location.href='../templates/artists/austin-mahone/artist.html'" class="four columns artist-btn">
            <img class="artist-img" src="../static/img/music/artists/danna-paola/cover.png" />
            <div class="artist-name">Danna Paola</div>
          </a>            
          <a href="javascript:;" onclick="location.reload();location.href='../templates/artists/austin-mahone/artist.html'" class="four columns artist-btn">
            <img class="artist-img" src="../static/img/music/artists/demi-lovato/cover.png" />
            <div class="artist-name">Demi Lovato</div>
          </a> 
          <a href="javascript:;" onclick="location.reload();location.href='../templates/artists/austin-mahone/artist.html'" class="four columns artist-btn">
            <img class="artist-img" src="../static/img/music/artists/taylor-swift/cover.png" />
            <div class="artist-name">Taylor Swift</div>
          </a>
        </div>  
      </div> 
      <div id="footer-container"><!-- Dynamic Content --></div> 
    </div>  
{% endblock %}
