{% extends "base.html" %}
{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/foundation/foundation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.reveal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.clearing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.functions.js') }}"></script>
{% endblock %}
{% block content %}
    {% include "user/settings/default.html" %}
    <div class="content">
      <div class="spinner-wrap"><div id="spinner"><img src="../static/img/spinner.gif"></div></div>
      {% include "header/index.html" %}
      <div class="main-container">
        <div class="row" id="product-page">
          <div class="small-6 large-5 columns">
            <ul class="clearing-thumbs clearing-feature product-image" data-clearing>
              <li class="clearing-featured-img"></li>
              <li></li>
            </ul>
            <div class="maximize-btn"><img src="../../../../static/img/maximize.svg" type="image/svg+xml" /></div>
          </div>
          <div class="small-6 large-7 columns">
            <div class="product-brand"></div>
            <div class="product-model"></div>
            <div class="product-description"></div>
            </div>
          </div>
        </div>

        {% include "product/share-box.html" %} 

        <div id="retailer-list">
          <div class="row" >
            <div class="small-1 large-3 columns" style="color:#fff">.</div>
            <div class="small-10 large-6 columns">
              <div class="retailer-btn" data-src="http://go.redirectingat.com?id=35687X941090&xs=1&url=http%3A%2F%2Fwww.farfetch.com%2Fshopping%2Fmen%2Fpaul-smith-striped-beanie-hat-item-10519288.aspx%3Fstoreid%3D9364">
                <div class="columns" style="padding: 0">
                  <img src="../../../../static/img/retailers/farfetch.png"/>
                  <div class="retailer-price">$103.81</div>
                </div>
              </div>
            </div>
            <div class="small-1 large-3 columns"  style="color:#fff">.</div>
          </div>
        </div>
      </div>
      <div id="footer-container"><iframe id="footer-container-iframe" src="" seamless="yes"></iframe></div>
    </div>  
{% endblock %}
{% block bottom_javascript %}
    <script type="text/javascript">
        var product_id = '{{ product_id }}';
        var api_url = '{{ g.api_url }}';
        var api_key = '{{ g.user.api_key }}';
    </script>
    <script src="{{ url_for('static', filename='js/product/base.js') }}"></script>
{% endblock %}
