{% extends "base.html" %}
{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/foundation/foundation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.reveal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation/foundation.clearing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.functions.js') }}"></script>
{% endblock %}
{% block content %}
    {% include "user/settings/default.html" %}
    <div class="content">
      <div class="spinner-wrap"><div id="spinner"><img src="{{ url_for('static', filename='img/spinner.gif') }}"></div></div>
      {% include "header/index.html" %}
      <div class="main-container">
        <div class="row" id="product-page">
        </div>

        {% include "product/share-box.html" %} 

        <div id="retailer-list">
        </div>
      </div>
      <div id="footer-container"><iframe id="footer-container-iframe" src="" seamless="yes"></iframe></div>
    </div>  
{% endblock %}
{% block bottom_javascript %}
    <script type="text/javascript">
        var product_id = '{{ product_id }}';
        var api_url = '{{ g.api_url }}';
        var api_key = '{{ g.user.api_key }}';
    </script>
    <script src="{{ url_for('static', filename='js/product/base.js') }}"></script>
{% endblock %}
